footer {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.footer__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__logo {
    width: 70px;
    margin-left: 155px;
    margin-top: 30px;
}


.footer__copy {
    font-size: var(--footer);
    color: var(--black);
    font-family: var(--readex);
    opacity: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10;
    margin-bottom: 10px;
    text-align: center;
}


.footer__formulaire {
    font-size: var(--footer);
    color: var(--black);
    font-family: var(--readex);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
    text-decoration: none;
}

.footer__propos {
    font-size: var(--footer);
    color: var(--black);
    font-family: var(--readex);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    text-decoration: none;
}

.footer__glossaire {
    font-size: var(--footer);
    color: var(--black);
    font-family: var(--readex);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    flex-direction: column;
    text-decoration: none;
}

.footer__projet {
    font-size: var(--footer);
    color: var(--black);
    font-family: var(--readex);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    flex-direction: column;
    text-decoration: none;
}

.footerreseaux {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}