header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-top: 5px;
    padding-bottom: 5px;

}

.logo-header {
    width: 65px;
    padding-left: 10px;

}

.header__title {
    width: 50px;
    padding-right: 15px;
    background: transparent;
    border: none;

}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-burger {
    position: relative;
    z-index: 10;
    background: transparent;
    width: 20px;
    border: none;
}