.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 5px;

}

.logo-header {
    width: 65px;
    padding-left: 10px;

}

.header__title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 7px;
    height: 20px;
    background-color: transparent;
    border: none;

}

.header__title-line {
    width: 24px;
    height: 4px;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.header__title-open .line1,
.header__title-open .line1::before,
.header__title-open .line1::after {
    transform: rotate(45deg);
    transform-origin: 0 100%;
    transition: transform 0.4s ease-in-out;
}

.header__title-open .line2,
.header__title-open .line2::before,
.header__title-open .line2::after {
    transform: scaleY(0);
    transition: transform 0.4s ease-in-out;
}

.header__title-open .line3,
.header__title-open .line3::before,
.header__title-open .line3::after {
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    transition: transform 0.4s ease-in-out;
}


body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-burger {
    position: relative;
    z-index: 10;
    background: transparent;
    width: 20px;
    border: none;
}