.language-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 15px;

}

.language-btn {
    background-color: orange;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 3px;
    place-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 3.5%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-family: var(--staatliches);
}

.language-btn:hover {
    background-color: orange;
}