.menu {
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.noscroll,
.noscroll body {
    overflow: hidden;
}

.menu__link {
    text-decoration: none;
    color: inherit;
    color: var(--black);
    font-size: var(--titre-partie-accueil);
    font-family: var(--readex);
}

.menu__items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 40px;
}